<div class="color" [style.background]="color">
  <div class="container">
    <img src="../../../assets/icons/mac_buttons.png" alt="" class="mac-dots">
    <div class="code-exib">
<pre>
<code class="code-text" [languages]="['typescript']" [highlight]="isHighlighted ? code : null ">{{ isHighlighted ? '' : code }}
</code>
</pre>
    </div>
    <textarea
    id="code-area"
    cols="29"
    rows="1"
    class="code-input"
    autocomplete="off"
    spellcheck="false"
    [(ngModel)]="code"
    (keyup)="autoSizeTextArea($event)"
    (blur)="generateCode()"
    placeholder="Digite seu código"
    ></textarea>
  </div>
</div>
