.color {
  padding: 2rem;
  border-radius: 0.5rem;
}

.container {
  background-color: var(--text-dark-grey);
  padding: 1rem;
  border-radius: 0.5rem;
}

.mac-dots {
  display: block;
  margin-bottom: 1.5rem;
}

.code-text, .code-input {
  font-size: 0.875rem;
  line-height: 150%;
  font-family: var(--font-roboto-mono);
  text-align: left;
}

.code-text {
  position: relative;
  z-index: 0;
  padding: 0;
  min-height: 60vh;
  text-wrap: wrap;
  overflow-x: scroll;
  line-break: anywhere;
  width: 100%;
  white-space: pre-wrap;
  color: var(--text-white);
}

.code-input {
  position: absolute;
  right: 4rem;
  left: 4rem;
  top: 11.5rem;
  width: 66%;
  min-height: 60vh;
  color: rgba(255, 255, 255, 0.3);
  cursor: text;
  z-index: 1;
  text-wrap: wrap;

  &::placeholder {
    color: var(--text-white-thin);
    font-size: 0.875rem;
    font-family: var(--font-roboto-mono);
  }
}
