<nav>
  <ul class="navbar__list">
    <li class="navbar__item">
      <a [routerLink]="['/editor']" routerLinkActive="router-link-active"  class="navbar__links">
        <i class="fa-solid fa-code"></i>
        <span>Editor de Código</span>
      </a>
    </li>
    <li class="navbar__item">
      <a [routerLink]="['/community']" routerLinkActive="router-link-active"  class="navbar__links">
        <i class="fa-solid fa-people-group"></i>
        <span>Comunidade</span>
      </a>
    </li>
  </ul>
</nav>
