<header>
  <h1 aria-describedby="logo" [ngClass]="{hidden: searchbarActive}">
    <a [routerLink]="['/editor']" >
      <img id="logo" src="../../../assets/img/Logo.png" alt="Alura Dev">
    </a>
  </h1>
  <div class="navigation">
    <app-searchbar [active]="searchbarActive" (searchToggle)="toggleSearchBar()"></app-searchbar>
    <app-menu-hamburguer [active]="navbarActive" (toggle)="toggleNavbar()" [ngClass]="{hidden: searchbarActive}"></app-menu-hamburguer>
  </div>
</header>
<app-navbar [ngClass]="{hidden: !navbarActive}"></app-navbar>
