.menu {
  font-size: 1.5rem;
  line-height: 150%;
  padding: 0.25rem 0.725rem;
  background-color: transparent;
  border: none;
  color: var(--text-white);

  &:hover {
    background-color: var(--blue-300-thin);
  }

  &:focus {
    background-color: var(--blue-300-extrathin);
  }
}

.selected {
  background-color: var(--blue-300-extrathin);
}
